<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Recv'd</th>
      <th>Updated</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Responsible</th>
      <th>Flags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td>
        <td><%= ticket.created_at.to_date %></td>
        <td><%= ticket.updated_at.to_date %></td>
        <td><%= ticket.small_title %></td>
        <td><%= ticket.body_preview %></td>
        <td><%= if ticket.user then ticket.user.name end%></td>
        <td><% ticket.flags.each do |flag| %>
           <%= flag.title %>
        <% end %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
