<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Snought" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <!-- Nav Bar -->
  <nav class="top-bar" data-topbar="">
    <!-- Title -->
    <ul class="title-area">
      <li class="name"><h1><a href="#"><h1><%= link_to 'S₀', root_url %></h1></li>
  
      <!-- Mobile Menu Toggle -->
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  
    <!-- Top Bar Section -->
    
    <section class="top-bar-section">
  
      <!-- Top Bar Left Nav Elements -->
      <ul class="left">  
        <!-- Search | has-form wrapper -->
        <li class="has-form">
          <div class="row collapse">
	    <%= form_tag(tickets_path, :method => "get", id: "search-form") do %>
              <div class="large-8 small-9 columns">
  	        <%= text_field_tag :search, params[:search], placeholder: "Ticket #" %>
              </div>
              <div class="large-4 small-3 columns">
    	        <%= submit_tag "Search", :name => nil, class:"alert button expand" %>
              </div>
	    <% end %>
          </div>
        </li>
	<li>
	  <%= link_to 'Proxy', new_ticket_path %>
	</li>
	<li>
	  <%= link_to 'New Flag', new_flag_path %>
	</li>
      </ul>
      <ul class="right">  
        <li class="has-dropdown">
          <a href="#">Flags</a>
          <ul class="dropdown">
	    <% Flag.all.each do |f| %>
    	       <li><%= link_to f.title, root_url(:flags => f.id), :method => :get %></li>
	    <% end %>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <body class="row">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
